.grouptitle{
    padding-left: 20px;
}

.pychron-main-container{
    /*background: #19181a;*/
    border-radius: 20px;
    padding: 1px;
}

.pychron-outer-container{
    /*background: #479761;*/
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    /*border-color: #696965;*/

    /*padding: 10px;*/

}

.pychron-inner-container{
    /*background: #a16e83;*/
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    /*border-color: #696965;*/
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right:  5px;
}
.padded {
    padding: 5px;
}

table {
    font-weight: bold;
    border-collapse: collapse;
}
table td {
    /*font-weight: bold;*/
}
table thead {
    font-size: 18px;
    /*color: #000000*/

}
table thead a {
    font-size: 18px;
    /*color: #000000*/
}
table td a {
    /*color: #cebc81*/
}

.leaflet-container {  /* all maps */
        width:  600px;
        height: 433px;
    }

#specialbigmap {
        height: 800px;
    }

/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
    width: 100%;
    /*height: 100%;*/
}

.smalltable{

    font-size: 12px;
    /*height: 200px;*/
}
.smalltable thead a {
    font-size: 12px;
}

.icon {
    width: 16px;
    height: 16px
}

.left {
    background: red;
}

.right {
    background: orange;
}


.pychron-outer-container th,
.pychron-outer-container td {
  border: 1px solid #e3e6f0;
}

.scrolling {
    height: 500px; overflow-y: scroll
}
/*form {*/
/*    !*position : relative;*!*/
/*  !*width  : 740px;*!*/
/*  !*height : 498px;*!*/
/*  !*margin : 0 auto;*!*/
/*  !*padding: 1em;*!*/
/*  !*box-sizing: border-box;*!*/

/*    display: grid;*/
/*    grid-template-columns : 400px 200px;*/
/*    grid-template-rows    : 4em 4em 4em 4em;*/
/*}*/