{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load django_tables2 %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endblock %}


{% block content %}
<div class="pychron-outer-container">
    <div class="pychron-inner-container">
{#        <form action="submit_sample" method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <span id="add-form" class="button">Add form</span>#}
{#            <input type="submit" />#}
{#        </form>#}
        {% crispy form %}

    </div>
    <div class="pychron-inner-container">
        {% render_table table %}
    </div>
</div>
{#   {% crispy sample_form %}#}
{#    {% if filter %}#}
{#    <form action="" method="get" class="form form-inline">#}
{#        {% bootstrap_form filter.form layout='inline' %}#}
{#        {% bootstrap_button 'filter' %}#}
{#    </form>#}
{#{% endif %}#}

{#</div>#}

     <script type="text/javascript">


     window.addEventListener('map:init',function (event){
         console.log(event)

     })

        {#    map.on('map:loadfield', function (e) {#}
            {#...#}
        {#    // Customize map for field#}
        {#    console.log(e.field, e.fieldid);#}
            {#...#}

        </script>
{% endblock %}
