{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="pychron-outer-container">
    <div class="pychron-inner-container">
        <form action="submit_sample" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <table style="display: none">
                {{ view.formset.empty_form }}
            </table>

            <table>
                {{ view.formset }}
            </table>

            <span id="add-form" class="button">Add form</span>

            <input type="submit" />
        </form>
    </div>
    <div class="pychron-inner-container">
        {% render_table table %}
    </div>
</div>
{#   {% crispy sample_form %}#}
{#    {% if filter %}#}
{#    <form action="" method="get" class="form form-inline">#}
{#        {% bootstrap_form filter.form layout='inline' %}#}
{#        {% bootstrap_button 'filter' %}#}
{#    </form>#}
{#{% endif %}#}

{#</div>#}
{% endblock %}
