{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}

{% block head %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">#}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Events</h2>
                    </div>
                    <div class="smalltable scrolly" style="height: 400px">
                        {% render_table tracker %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Map</h2>
                    </div>
                    <div id="map" style="height: 400px">
                     {% leaflet_map "map" callback='map_init' %}
                        <script type="text/javascript">
                        function map_init(map, options) {
                                {% if center %}
                                    map.setView({{ center }})
                                {% endif %}
                                {#var wmsOptions = {'layers': }#}
                                L.tileLayer('http://tiles.macrostrat.org/carto/{z}/{x}/{y}.png').setOpacity(0.5).addTo
                            (map)
                                {% for g, gs in samples %}
                                    {% for s in gs %}
                                        L.circleMarker([{{ s.lat }}, {{ s.lon }}],
                                            {color: '{{ g.color  }}',
                                            radius: 5},

                                            ).bindPopup(
                                                '<table class="table"> \
                        <tr><td>Sample</td><td><a href="/samples/{{ s.id }}">{{ s.name }}</a></td></tr> \
                        <tr><td>Material</td><td><a href="/materials/{{ s.materialid.id }}">{{ s.materialid.full_name }}</a></td></tr> \
                        <tr><td>Project</td><td><a href="/projects/{{ s.projectid.id }}">{{ s.projectid.piname }}</a></td></tr> \
                        <tr><td>Unit</td><td>{{ s.unit }}</td></tr> \
                        </table>'
                                        ).addTo(map);
                                    {% endfor %}
                                {% endfor %}
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Samples</h2>
        </div>
        <div style="margin: 5px">
            {% if filter %}
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                {% endif %}
        </div>
        <div class="smalltable scrolly">
            {% render_table table %}
        </div>
    </div>
{% endblock %}