{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row padded">
            <div class="col-sm-6">
                <div class="table-bordered pychron-table">
                    <table class="table">
                        <thead><tr><th>Attribute</th><th>Current Value</th></tr></thead>
                        <tr><td>Sample</td> <td>{{ object.name }}</td></tr>
                        <tr><td>Material</td> <td>{{ object.materialid.full_name }}</td></tr>
                        <tr><td>Project</td> <td>{{ object.projectid.name }}</td></tr>
                        <tr><td>Principal Investigator</td> <td>
                            {{ object.projectid.principal_investigatorid.full_name }}</td></tr>
                        <tr><td>Unit</td> <td>{{ object.unit }}</td></tr>
                        <tr><td>Latitude</td> <td>{{ object.lat }}</td></tr>
                        <tr><td>Longitude</td> <td>{{ object.lon }}</td></tr>
                        <tr><td>N. Analyses</td> <td>{{ nanalyses }}</td></tr>
                        <tr><td>Analyses Start</td> <td>{{ analyses_start }}</td></tr>
                        <tr><td>Analyses End</td> <td>{{ analyses_end }}</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 pychron-table">
                {% leaflet_map "map" callback='map_init' %}
                <script type="text/javascript">
                    function map_init(map, options) {

                        // get point lat and lon
                        var lon = "{{ object.lon }}";
                        var lat = "{{ object.lat }}";
                        // zoom to point & add it to map
                        map.setView([lat, lon]);
                        L.marker([lat, lon]).bindPopup(
                            '<table class="table"> \
                    <tr><td>Sample</td><td>{{ object.name }}</td></tr> \
                <tr><td>Material</td><td>{{ object.materialid.full_name }}</td></tr> \
            </table>'
                        ).addTo(map);

                        {% for s in nearby_samples %}
                            L.circleMarker([{{ s.lat }}, {{ s.lon }}],
                                {#{radius: 3}#}
                                ).bindPopup(
                                    '<table class="table"> \
                    <tr><td>Sample</td><td>{{ s.name }}</td></tr> \
                <tr><td>Material</td><td>{{ s.materialid.full_name }}</td></tr> \
                <tr><td>Project</td><td>{{ s.projectid.piname }}</td></tr> \
                <tr><td>Unit</td><td>{{ s.unit }}</td></tr> \
            </table>'
                            ).addTo(map);
                        {% endfor %}
                    }
                </script>
            </div>
        </div>
        <div class="padded">
            <div class="pychron-table">
            <div>
                {% if form  %}
                <form action="/samples/edit_sample/{{ object.id }}/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <table style="display: none">
                        {{ view.formset.empty_form }}
                    </table>

                    <table>
                        {{ view.formset }}
                    </table>

{#                    <span id="add-form" class="button">Add form</span>#}
                    <input type="submit" value="Save"/>
                </form>
                    {% else %}
                    <h2>You do not have permissions to edit this sample</h2>
                {% endif %}
            </div>
        </div>
        <div class="table-bordered pychron-table">
            {% render_table analyses %}
        </div>
    </div>


{% endblock %}
