{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block head %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

{#    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">{{ object.name }}</h1></div>
                <table class="table table-condensed" style="height: 400px">
                    <thead><tr><th>Attribute</th><th>Current Value</th></tr></thead>
{#                        <tr><td>Sample</td> <td>{{ object.name }}</td></tr>#}
                    <tr><td>Material</td> <td><a href={% url "materials:detail" object.materialid.id  %}>
                        {{ object.materialid.full_name }}</a></td></tr>
                    <tr><td>Project</td> <td><a href={% url "projects:detail" object.projectid.id  %}>
                        {{ object.projectid.name }}</a></td></tr>
                    <tr><td>Principal Investigator</td>
                        <td><a href=
                                {% url "principal_investigators:detail" object.projectid.principal_investigatorid.id  %}>
                        {{ object.projectid.principal_investigatorid.full_name }}</a></td></tr>
                    <tr><td>Unit</td> <td>{{ object.unit }}</td></tr>
                    <tr><td>Latitude</td> <td>{{ object.lat }}</td></tr>
                    <tr><td>Longitude</td> <td>{{ object.lon }}</td></tr>
                    <tr><td>N. Analyses</td> <td>{{ nanalyses }}</td></tr>
                    <tr><td>Analyses Start</td> <td>{{ analyses_start }}</td></tr>
                    <tr><td>Analyses End</td> <td>{{ analyses_end }}</td></tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h1 class="panel-title">Location</h1></div>
                    <div id="map" style="height:400px">
                        {% leaflet_map "map" callback='map_init' %}
                    </div>
                </div>
            </div>
    </div>

{#    Events#}
    {% if events %}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h1 class="panel-title">Events</h1></div>
                     {% render_table events|safe %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h1 class="panel-title">Add Events</h1></div>
                    {% crispy event_form %}
                </div>
            </div>
        </div>
    {% endif %}

{#    Edit sample#}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h1 class="panel-title">Edit {{ object.name }}</h1></div>
                {% if form  %}
                    {% crispy form %}
                    <script type="text/javascript">
                        window.addEventListener('map:init', function (event) {
                            var macrostrat = L.tileLayer('http://tiles.macrostrat.org/carto/{z}/{x}/{y}.png',
                                {'attribution': '<a href="macrostrat.org"> Macrostrat.org</a>'
                                }).setOpacity(0.25)

                            var usgs_topo = L.tileLayer(
                                'https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}',
                                            {'attribution': 'Tiles courtesy of the <a href="https://usgs.gov/">U.S.Geological Survey</a>'
                                })
                            var hill_shade = L.tileLayer('http://tiles.wmflabs.org/hillshading/{z}/{x}/{y}.png',
                                {'attribution': 'Tiles courtesy of wmflabs.org'})

                            var baseMaps = {"USGS Topo": usgs_topo, "HillShade": hill_shade}
                            var map = event.detail.map
                            var overlaysMaps = {"Macrostrat": macrostrat}
                            L.control.layers(baseMaps, overlaysMaps).addTo(map)
                            usgs_topo.addTo(map)
                            macrostrat.addTo(map)
                        }, false);
                    </script>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Error</strong>You do not have permissions to edit this sample</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        {% if analyses %}
            <div class="col-md-12">
                <div class="pychron-inner-container">
                    {% render_table analyses %}
                </div>
            </div>
        {%  endif %}
    </div>

    <script type="text/javascript">
        function map_init(map, options) {

            // get point lat and lon
            var lon = "{{ object.lon }}";
            var lat = "{{ object.lat }}";
            // zoom to point & add it to map
            map.setView([lat, lon]);

            L.marker([lat, lon]).bindPopup(
                '<table class="table"> \
        <tr><td>Sample</td><td>{{ object.name }}</td></tr> \
    <tr><td>Material</td><td>{{ object.materialid.full_name }}</td></tr> \
    </table>'
            ).addTo(map);

            {% for s in nearby_samples %}
                L.circleMarker([{{ s.lat }}, {{ s.lon }}],
                    {radius: 3}
                    ).bindPopup(
                        '<table class="table"> \
    <tr><td>Sample</td><td><a href={% url "samples:detail" s.id  %}>{{ s.name }}</a></td></tr> \
    <tr><td>Material</td><td><a href={% url "materials:detail"  s.materialid.id  %}>{{ s.materialid.full_name }}</a></td></tr> \
    <tr><td>Project</td><td><a href={% url "projects:detail"  s.projectid.id  %}>{{ s.projectid.piname }}</a></td></tr> \
    <tr><td>Unit</td><td>{{ s.unit }}</td></tr> \
    </table>'
                ).addTo(map);
            {% endfor %}
        }
    </script>
{% endblock %}
