{% extends 'base.html' %}

{#{% load django_tables2 %}#}
{#{% load bootstrap3 %}#}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    {% for s,d in figures %}
        {{ s | safe }}
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-condensed">
                {% for row in table %}
                    <tr>
                        {% for k in row %}
                            <td>{{ k }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-8">
            {% for s,d in figures %}
                {{ d | safe }}
            {% endfor %}
        </div>

    </div>


{% endblock %}