{% extends 'base.html' %}

{#{% load django_tables2 %}#}
{#{% load bootstrap3 %}#}
{% load static %}
{% block head %}
    <meta http-equiv="refresh" content="60">

    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    {% for s,d in figures %}
        {{ s | safe }}
    {% endfor %}

{% endblock %}

{% block content %}
    <div id = "time" > - </div>
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-condensed">
                 <tr>
                     <td>
                         Last Refresh
                     </td>
                     <td>
                         <div id = "time" > - </div>
                     </td>
                 </tr>
                {% for row in table %}
                    <tr>
                        {% for k in row %}
                            <td>{{ k }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-8">
            {% for s,d in figures %}
                {{ d | safe }}
            {% endfor %}
        </div>

    </div>

    <script>
    document.getElementById("time").textContent = "" + new Date().toLocaleString();
    </script>
{% endblock %}