{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}

{% block head %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">#}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Projects</div>
        </div>

        <div>
            {% if filter %}
                <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    {% bootstrap_button 'filter' %}
                </form>
            {% endif %}
            {% render_table table %}
        </div>

{#                <div>#}
{#                    {%  render_table events %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    </div>#}
{##}
{#    <div class="table-bordered pychron-outer-container">#}
{#        <div class="grouptitle">#}
{#            <h1>Projects</h1>#}
{#        </div>#}
{#        <div class="pychron-inner-container">#}
{#            {% if filter %}#}
{#                <form action="" method="get" class="form form-inline">#}
{#                    {% bootstrap_form filter.form layout='inline' %}#}
{#                    {% bootstrap_button 'filter' %}#}
{#                </form>#}
{#            {% endif %}#}
{#            {% render_table table %}#}
{#        </div>#}
{##}
{#    </div>#}

{% endblock %}