{% extends "base.html" %}
{% load leaflet_tags %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% block head %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}">#}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="table-bordered pychron-outer-container">
            <div class="grouptitle">
                <h1>Project: {{ object.name }}</h1>
            </div>
            <div  class="grouptitle">
                <h2>Samples</h2>
            </div>
            <div class="table-bordered pychron-inner-container">
                <div id="map" class="padded" style="width: 100%">
                     {% leaflet_map "map" callback='map_init' %}
                </div>
                <script type="text/javascript">
                    function map_init(map, options) {

                        {% if center %}
                            map.setView({{ center }})
                        {% endif %}

                        let macrostrat = L.tileLayer('http://tiles.macrostrat.org/carto/{z}/{x}/{y}.png',
                            {
                                'attribution': '<a href="macrostrat.org"> Macrostrat.org</a>'
                            }).setOpacity(0.25);

                        let usgs_topo = L.tileLayer(
                            'https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}',
                                        {'attribution': 'Tiles courtesy of the <a href="https://usgs.gov/">U.S.Geological Survey</a>'
                            })
                        let hill_shade = L.tileLayer('http://tiles.wmflabs.org/hillshading/{z}/{x}/{y}.png',
                            {'attribution': 'Tiles courtesy of wmflabs.org'})

                        let baseMaps = {"USGS Topo": usgs_topo, "HillShade": hill_shade}

                        let overlaysMaps = {"Macrostrat": macrostrat}
                        L.control.layers(baseMaps, overlaysMaps).addTo(map)
                        usgs_topo.addTo(map)
                        macrostrat.addTo(map)

                        {% for s in samples %}
                            L.circleMarker([{{ s.lat }}, {{ s.lon }}],
                                {#{radius: 3}#}
                                ).bindPopup(
                                    '<table class="table"> \
<tr><td>Sample</td><td><a href="/samples/{{ s.id }}">{{ s.name }}</a></td></tr> \
<tr><td>Material</td><td><a href="/materials/{{ s.materialid.id }}">{{ s.materialid.full_name }}</a></td></tr> \
<tr><td>Project</td><td><a href="/projects/{{ s.projectid.id }}">{{ s.projectid.piname }}</a></td></tr> \
<tr><td>Unit</td><td>{{ s.unit }}</td></tr> \
</table>'
                            ).addTo(map);
                        {% endfor %}
                    }
                </script>
                 </div>
            {% render_table table %}
        </div>
    </div>
{% endblock %}