{% extends 'base.html' %}

{% block content %}
    <div class="pychron-main-container">
        <h1 style="text-align: center">
            <b>Welcome to the Pychron Web App</b>
        </h1>
        <div class="well">
            {{ labspecific_content|safe }}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">View</h1>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="/principal_investigators">Principal Investigators</a>
                        <a class="list-group-item" href="/projects">Projects</a>
                        <a class="list-group-item" href="/materials">Materials</a>
                        <a class="list-group-item" href="/samples">Samples</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Entry</h1>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="/principal_investigators/entry">Principal Investigators</a>
                        <a class="list-group-item" href="/projects/entry">Projects</a>
                        <a class="list-group-item" href="/materials/entry">Materials</a>
                        <a class="list-group-item" href="/samples/entry">Samples</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
