{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the Pychron Web App</h2>

    <h1>View</h1>
        <ul>
            <li><a href="/principal_investigators">Principal Investigators</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/materials">Materials</a></li>
            <li><a href="/samples">Samples</a></li>
        </ul>
    <h1>Entry</h1>
        <ul>
            <li><a href="/principal_investigators/entry">Principal Investigators</a></li>
            <li><a href="/projects/entry">Projects</a></li>
            <li><a href="/materials/entry">Materials</a></li>
            <li><a href="/samples/entry">Samples</a></li>
        </ul>
{% endblock %}