{% extends 'base.html' %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <h2>Analyses By Month</h2>
                {% render_table monthtable %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <h2>Year Stats</h2>
                {% render_table yeartable %}
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Analyses By Week Day</h2>
            {% render_table daystable %}
        </div>
    </div>


{% endblock %}